{{page-title "Tailwindcss Vite Setup"}}

<div class="container mx-auto bg-gray-200 px-8 min-h-screen">
  <h1 class="font-black italic text-gray-900 text-4xl text-center underline">Tailwindcss Vite Setup</h1>

  {{outlet}}
</div>